/* Estilos básicos para la página */
body {
    font-family: sans-serif;
    margin: 0px;
    background-color: #f4f4f4; /* O el color de fondo que prefieras para el horario */
}
/* Horario */
#tabla-horario {
    width: 100%;          /* Ancho de la tabla*/
    border-collapse: collapse; /* Los bordes de las celdas se juntan en un solo borde */
    border: 0px solid #ccc; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Celdas de la tabla */
#tabla-horario th,
#tabla-horario td {
    padding: 8px 6px; /* Aumentamos un poco el espacio interno */
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ddd; 
    border-right: 1px solid #ddd;
}

/* Eliminar el borde derecho de la última columna */
#tabla-horario tr th:last-child,
#tabla-horario tr td:last-child {
    border-right: none;
}

/* Encabezados de los días */
#tabla-horario th {
    background-color: #2a2a2c; /* Color de encabezados */
    font-weight: bold;
    color: #ffffff;
}

/* Columna de las horas */
.hora {
    background-color:  #2a2a2c;
    font-weight: bold;
    color: #ffffff
}

/* Nombre del profesor */
.profesor {
    color: #000000;
    font-size: 0.9em; /* Un tamaño más pequeño */
    display: block; /* Para que ocupe su propia línea */
    margin-top: 5px;
}

/* Fila de recreo */
.recreo {
    background-color: #2a2a2c;
    font-style: italic; /* Italica */
    color: #555; 
}
/* Botón Modo Luces */
#boton-luces {
    position: fixed; /* Mantiene el botón fijo en la pantalla */
    bottom: 10px;    /* Borde para abajo */
    right: 40px;     /* Borde derecho */
    background-color: #25282b; 
    color: white;   
    padding: 10px 20px; /* Espacio interno */
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.062); /* Sombra */
    transition: background-color 0.4s ease; /* Transición */
}
/* Estilo al pasar el mouse por encima */
#boton-luces:hover {
    background-color: #000000; 
}

/* Estilo al hacer clic */
#boton-luces:active {
    background-color: #000000; 
}

/* Audio reproductor */

.audio-player-container {
    background-image: url('img/Subma.png'); /* Ruta a tu imagen */
    background-size: cover; /* Cubre todo el contenedor */
    background-repeat: no-repeat;
    display: flex; /* Para alinear el reproductor y el botón si es necesario */
    flex-direction: column; /* Para apilar el reproductor y el botón verticalmente */
    align-items: center; /* Para centrar horizontalmente el contenido */
}
.audio-player {
    background-color: #282828;
    color: #eee;
    padding: 9px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 400px;
    margin: 4.5px auto;
    box-sizing: border-box;
}

.mp3-player-visual {
    display: none; /* Ocultamos la "pantallita" */
}

.audio-player button {
    background-color: transparent; /* Fondo transparente para los iconos */
    color: #eee; /* Color de los iconos */
    border: none;
    padding: 8px 10px; /* Ajusta el padding para el tamaño del icono */
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em; /* Tamaño de los iconos */
    line-height: 1; /* Centrar verticalmente el texto del icono */
    outline: none; /* Evitar el borde al enfocar */
}

.audio-player button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Un ligero fondo al pasar el mouse */
}

.audio-player input[type="range"] {
    flex-grow: 1;
    height: 6px;
    -webkit-appearance: none;
    appearance: none;
    background: #404040;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.audio-player input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #eee;
    border-radius: 50%;
    cursor: pointer;
}

.audio-player input[type="range"]::-webkit-slider-thumb:hover {
    background-color: #ccc;
}

.audio-player input[type="range"]::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background: #eee;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.audio-player input[type="range"]::-moz-range-thumb:hover {
    background-color: #ccc;
}

.audio-player span {
    font-size: 0.8em;
    color: #ccc;
    margin-left: 1px;
}

